@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");

body {
  display: flex;
  margin: 0 auto;
  height: 100%;
  flex-direction: column;
  background-color: white;
  background-size: cover;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

.main_frame {
  text-align: center;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .size_frame {
    width: 28% !important;
    height: 100vh !important;
    height: -webkit-fill-available;
    text-align: center !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .size_frame {
    width: 28% !important;
    height: 100vh !important;
    height: -webkit-fill-available;
    text-align: center !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .size_frame {
    width: 28% !important;
    height: 100vh !important;
    height: -webkit-fill-available;
    text-align: center !important;
  }
}
